@font-face {
    font-family: "HattonMedium" !important;
    src: url("../public/fonts/Hatton/Hatton-Medium.otf") format("truetype");
    font-weight: medium;
    font-style: normal;
}
@font-face {
    font-family: "AntiqueOliveLight";
    src: url("../public/fonts/AntiqueOliT/AntiqOliTLig.otf") format("truetype");
    font-weight: lighter;
    font-style: normal;
}

.font_HattonMedium {
    font-family: "HattonMedium", sans-serif;
}
.font_AntiqueOliveLight {
    font-family: "AntiqueOliveLight", sans-serif;
}

.main {
    background-image: url("../public/images/index5.webp"),
        linear-gradient(
            90deg,
            rgba(122, 120, 123, 1) 0%,
            rgba(145, 142, 147, 1) 38%,
            rgba(182, 180, 184, 1) 100%
        );
    background-size: 600px, 100%;
    background-repeat: no-repeat;
    background-position: right 20% bottom 0%;
    height: 100vh;
    color: white;
}
